@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  width: 100%;
  background-color: #e6e6e6;
  border-bottom: 2px solid gray;
  font-family: "Maven Pro", sans-serif;
}
.imgBox {
  cursor: pointer;
}

.imgBox img {
  height: 50px;
}

.inputBox {
  position: relative;
  width: 30%;
}

.inputBox input {
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 25px;
  font-size: 1.2rem;
  padding-left: 40px;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 15px;
}

.nav-count {
  color: #fff;
}

.list {
  display: flex;
  align-items: center;
}

.list-icon {
  padding-right: 5px;
  color: #000;
}

.listItem {
  color: #000;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
}

.user-div {
  display: flex;
  align-items: center;
}

.login-btn,
.register-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: transparent;
  margin-right: 1rem;
  background-color: #fff;
  cursor: pointer;
}

.cart-div {
  display: flex;
  align-items: center;
}

.cart-length-container {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.cartLength {
  color: #696969;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .imgBox img {
    height: 40px;
  }

  .inputBox {
    width: 100%;
  }

  .listItem {
    margin: 0.5rem 0;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .imgBox img {
    height: 40px;
  }

  .inputBox {
    width: 100%;
  }

  .listItem {
    margin: 0.5rem 0;
  }
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.brand:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.brand::before {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 5px;
  background: linear-gradient(to right, #f8b500, #f8e100);
  -webkit-text-fill-color: transparent;
}

.brand::after {
  font-weight: normal;
}

@media (max-width: 768px) {
  .brand {
    font-size: 1.2rem;
    padding: 8px;
  }
  .brand::before {
    font-size: 1.5rem;
  }
}
