.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px;
  border-top: 3px solid gray;

  background-color: #e6e6e6;
}

.footerSection {
  width: 25%;
  margin-bottom: 30px;
}

.footerTitle {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

li:hover {
  color: #d35400;
}

.contactUs {
  color: #d35400;
  font-weight: bold;
}

.subscribeForm {
  display: flex;
  margin-top: 20px;
}

input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.FooterBtn {
  padding: 10px 20px;
  background-color: #d35400;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #e67e22;
}

.SocialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 3rem;
}

.SocialIcons a {
  color: inherit;
  margin-right: 20px;
  transition: color 0.2s ease-in-out;
}

.SocialIcons a:hover {
  color: #d35400;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  transition: color 0.2s ease-in-out;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #e4405f;
}

.fa-twitter:hover {
  color: #1da1f2;
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    padding: 50px;
  }

  .footerSection {
    width: 50%;
  }
}
a {
  text-decoration: none;
  color: #333;
}
