.footerContainer {
  display: flex;
  background-color: #e6e6e6;
  justify-content: space-between;
  position: relative;
  padding: 2rem 5rem;
  border-top: 3px solid gray;
  color: #000;
}

.footerSection {
  margin: 1rem;
}

.footerTitle {
  cursor: pointer;
  color: #000;
  transition: all 0.3s;
}
.footerTitle:hover {
  color: gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

li {
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #333;
}

.appLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.appLinks a {
  font-size: 2rem;
  color: #ffc107;
}

.appLinks a:first-child {
  margin-right: 1rem;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.subscribeForm input {
  border: 1px solid;
  border-radius: 8px;
  border-color: #ffcc00;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.subscribeForm button {
  width: 100%;
  background: #333;
  color: #ffcc00;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    padding: 2rem;
  }

  .footerSection {
    margin: 0 0 1rem 0;
  }

  .appLinks {
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
    max-width: none;
  }

  .subscribeForm {
    flex-direction: row;
    width: 100%;
    max-width: none;
    margin: 1rem 0;
  }

  .subscribeForm input {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.contactUs {
  cursor: pointer;
}

.SocialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
