* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.container.home {
  height: 100%;
}
