@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.container.home {
  height: 100%;
}
